
.ball{
        position:relative;
    left:100px;
    top:0px;
    width:100px;
    height:100px;
    background:#f57c33;
    border-radius:50px;
    overflow:hidden;

           border: 2px solid black;
    animation-name:bounce;
    animation-duration:1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
}
.stroke{
    position:absolute;
   
    width:150px;
    height:150px;
    border-radius:80px;
    border: 2px solid black;
    
}
.stroke2{
        position:absolute;
       border: 2px solid black;
    width:300px;
    height:300px;
    border-radius:150px;
    
}

.pos1{
     right:60px;
    bottom:-25px;
    
}
.pos2{
     left:60px;
    bottom:-25px;
    
}
.pos3{
    top:-100px;
    left:48px
    
}
.pos4{
    top:48px;
    left:-100px;
}
@keyframes bounce {
    0%   {}
    10% {transform:scaleX(1);transform:scaleY(1);}
    50% {top:300px; transform:scaleX(1.7);transform:scaleY(0.5); }
     100% {top:50px;}
}